<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Almond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>HomeScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C2055271A2EBB8000975495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2056051A2EBBBA00975495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2056201A2EBBBB00975495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA79D591A2DAE9900AA887E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CED5EF019AC82FD0023512F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CED5F0B19AC82FD0023512F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
